body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 公共样式 */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.clearfix {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/* 自定义样式 */
.wrap {
  height: 100vh;
}
.logo {
  height: 32px;
  line-height: 32px;
  margin: 16px;
  text-align: center;
}
.logo > img {
  height: inherit;
}
.copyright {
  margin-bottom: 0;
}
.sider {
  overflow: hidden;
  height: 100vh;
}
.profile {
  width: 100%;
  height: 150px;
  background-color: rgb(47, 79, 218);
}
.nav {
  padding-left: 0;
}
.trigger {
  color: #ffffff;
  font-size: 20px;
}
.container {
  margin: 16px 16px 0;
}
.location {
  margin-bottom: 12px;
}
/* 入口链接 */
.entryLink > div {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.entryLink-major,
.entryLink-minor {
  margin-bottom: 1rem;
  background-color: #ffffff;
}
.entryLink-item {
  border-right: 1px solid #f0f2f5; 
}
.entryLink-item:last-child {
  border-right: none;
}
.entryLink-major > div,
.entryLink-minor > div {
  display: table-cell;
}
.entryLink-title {
  padding: 6px 0;
  color: #ffffff;
  font-size: 14px;
  background-color: #1890ff;
  margin-bottom: 1em;
  vertical-align: middle;
}
.entryLink-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.entryLink-link {
  margin-bottom: 1rem;
}
.entryLink-icon {
  display: inline-block;
  border: 1px solid transparent;
  
  padding: 1px;
}
.entryLink-icon:hover {
  box-shadow: -1px -1px 1px #dddddd, 2px 2px 3px #888888, 2px 3px 6px #aaaaaa;
}
.entryLink-icon > img {
  width: 2rem;
}
.entryLink-title, 
.entryLink-link,
.entryLink-text {
  text-align: center;
}
.entryLink-text {
  margin-bottom: 0;
  padding: 6px 0;
}
.entryLink-text a {
  color: #333333;
  font-size: 0.75rem;
}
.entryLink-text a:hover,
.entryLink-minor-item > a:hover {
  text-decoration: underline;
  color: #1890ff;
}
.entryLink-minor > div:first-child {
  width: 2rem;
  background-color: #1890ff;
}
.entryLink-minor .entryLink-title {
  margin-bottom: 0;
}
.entryLink-minor-list {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.entryLink-minor-item {
  display: table-cell;
  padding: .5rem 1rem;
}
.entryLink-minor-item > a {
  color: #333333;
  font-size: 1rem;;
}
/* 查看通知 */
.previewNotice {
  background-color: #ffffff;
  padding: 16px;
}
.pv-form-item {
  width: 100%;
}
.pv-form-item > .ant-form-item-label {
  width: 80px;
}
.pv-form-item > .ant-form-item-control-wrapper {
  width: calc(100% - 80px);
}
.pv-aq {
  cursor: pointer;
  font-size: .8rem;
}
.pv-aq-wrap{
  display: none;
}
.pv-form-aq .pv-aq-wrap {
  display: block;
}